.card-textfer{
    color: rgb(171, 98, 185);
    text-decoration: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-titlefer{
    color: rgb(58, 69, 129);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
